.virtual-focus {
  &__mask {
    width: 100vw;
    height: 100vh;

    position: fixed;
  }

  &__input {
    outline: none;
    color: white;
    border: white;
    position: fixed;
    font-size: 1px;
    left: 50%;
    top: -21px;
  }
}