.typing-club {
  margin: 0 auto;
  width: 800px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__teleprompter {
    width: 100%;
    margin-bottom: 32px;
  }
}