#root {
  --color-primary: #0a6bf9;
  --color-correct: #c2ea9a;
  --color-incorrect: #e97e7e;

  width: 100vw;
  height: 100vh;
}

.app {
  margin: 0 auto;
  width: 800px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__teleprompter {
  width: 100%;
  margin-bottom: 32px;
}